# UFO Notebook
This Notebook takes the csv version of the UFO database in the file in elections.csv, and turns it into the six tables required for the UFO dashboard in the example.  The dashboard produced is exactly the same as the one in the UFO example; the difference is that Pandas is used to read the csv file and form the tables.  To no one's surprise, this is much shorter and more concise than the equivalent notebook in the ufos directory

In [55]:
import pandas as pd
from galyleo.galyleo_table import GalyleoTable
from galyleo.galyleo_jupyterlab_client import GalyleoClient

Get the UFO sightings for the world and for the US (which has, for whatever reason, almost all the sightings).

In [56]:
ufos = pd.read_csv('ufos.csv')
us = ufos[ufos['country']=='us']

A convenience method that groups the columns in the dataframe by the specified indices, pulls their count, creates a GalyleoTable of the result, and loads the dataframe into the table.

In [57]:
def create_aggregate_table(dataframe, columns, table_name):
    new_frame = dataframe.groupby(columns).size().reset_index(name = 'count')
    result = GalyleoTable(table_name)
    result.load_from_dataframe(new_frame)
    return result

The base maps (for the world and the us) far formed by aggregating with respect to year and country, and year and state, respectively

In [58]:
world_map = create_aggregate_table(ufos, ['year', 'country'], 'aggregate_cy')
us_map = create_aggregate_table(us, ['year', 'state'], 'aggregate_sy')
client = GalyleoClient()
client.send_data_to_dashboard(world_map)
client.send_data_to_dashboard(us_map)

The column charts are sightings vs month, with the year selected by the slider and the locale by clicking on the country/state on the map.  Here, we send the groups and they'll be filtered on the dashboard.

In [59]:
world_by_month_and_year = create_aggregate_table(ufos, ['year', 'country', 'month'], 'aggregate_cym')
us_by_month_and_year = create_aggregate_table(us, ['year', 'state', 'month'], 'aggregate_sym')
client.send_data_to_dashboard(world_by_month_and_year)
client.send_data_to_dashboard(us_by_month_and_year)

The column charts are sightings vs type, with the year selected by the slider and the locale by clicking on the country/state on the map.

In [60]:
world_by_type_and_year = create_aggregate_table(ufos, ['year', 'country', 'type'], 'aggregate_cyt')
us_by_type_and_year = create_aggregate_table(us, ['year', 'state', 'type'], 'aggregate_syt')
client.send_data_to_dashboard(world_by_type_and_year)
client.send_data_to_dashboard(us_by_type_and_year)

In [64]:
t1 = ufos.groupby(['year', 'country', 'month']).size().reset_index(name = 'count')

In [66]:
t1[t1['country'] == 'au']

      year country  month  count
142   1958      au      6      1
164   1960      au      7      1
270   1967      au      1      1
291   1968      au      6      1
373   1972      au      2      1
...    ...     ...    ...    ...
1815  2014      au      1      2
1816  2014      au      2      1
1817  2014      au      3      6
1818  2014      au      4      4
1819  2014      au      5      1

[231 rows x 4 columns]