# Using Google Sheets Inside a Galyleo Notebook
This Notebook shows how to import a Google Sheet into a Galyleo Notebook for analysis and charting.

Step 1 is to ensure that the Notebook can load the sheet.  In order to do this, share the sheet (as *viewer only*) with the world:

![Share dialog image](share-sheet.png)

Step 2 is to import the right libraries.  [Pandas](https://pandas.pydata.org/docs/) is the world's most popular Python library for reading these documents.

In [ ]:
import pandas as pd

Copy the spreadsheet URL and paste it into a variable

![Copy URL](copy-link.png)

In [4]:
original_url = "https://docs.google.com/spreadsheets/d/11JHE646zW2elpNoRHna-JfAif231zmL2H6_g_s0xXLk/edit?usp=sharing"

This URL isn't quite right: it's how you'd access the sheet for editing in a browser.  But in this case, we want to download it into a Pandas Dataframe as a CSV file.  So we modiify the URL like so:

Original URL: https://docs.google.com/spreadsheets/d/11JHE646zW2elpNoRHna-JfAif231zmL2H6_g_s0xXLk/edit?usp=sharing

Change "edit?usp=sharing" to "export?format=csv"

Modified URL: https://docs.google.com/spreadsheets/d/11JHE646zW2elpNoRHna-JfAif231zmL2H6_g_s0xXLk/export?format=csv

Try clicking on these URLs now to see the difference in behavior.  Notice the second one *if clicked on in a browser*, downloads this file to your local disk.  But when we give this to PANDAS, it just reads the file.

In [5]:
modified_url = 'https://docs.google.com/spreadsheets/d/11JHE646zW2elpNoRHna-JfAif231zmL2H6_g_s0xXLk/export?format=csv'
df = pd.read_csv(modified_url)

Now we've read the Google sheet into a Dataframe

In [6]:
df

          Country  Year   Growth
0     Afghanistan  1980  no data
1     Afghanistan  1981  no data
2     Afghanistan  1982  no data
3     Afghanistan  1983  no data
4     Afghanistan  1984  no data
...           ...   ...      ...
9799        World  2018      3.6
9800        World  2019      2.8
9801        World  2020       -3
9802        World  2021        6
9803        World  2022      3.2

[9804 rows x 3 columns]