In [1]:
import pandas as pd
from sdtp import SDML_NUMBER, SDMLDataFrameTable
columns = ['month', 'disease', 'wounds', 'other', 'total']
schema = [{'name': col, 'type': SDML_NUMBER} for col in columns]
schema

[{'name': 'month', 'type': 'number'},
 {'name': 'disease', 'type': 'number'},
 {'name': 'wounds', 'type': 'number'},
 {'name': 'other', 'type': 'number'},
 {'name': 'total', 'type': 'number'}]

In [2]:
df = pd.read_csv('nightingale.csv')
table = SDMLDataFrameTable(schema, df)

In [4]:
table.dataframe

    month  disease  wounds  other  total
0       1        1       0      5      6
1       2       12       0      9     21
2       3       11       0      6     17
3       4      359       0     23    382
4       5      828       1     30    859
5       6      788      81     70    939
6       7      503     132    128    763
7       8      844     287    106   1237
8       9     1725     114    131   1970
9      10     2761      83    324   3168
10     11     2120      42    361   2523
11     12     1205      32    172   1409
12     13      477      48     57    582
13     14      508      49     37    594
14     15      802     209     31   1042
15     16      382     134     33    549
16     17      483     164     25    672
17     18      189     276     20    485
18     19      128      53     18    199
19     20      178      33     32    243
20     21       91      18     28    137
21     22       42       2     48     92
22     23       24       0     19     43
23     24       15       0     35     50

In [5]:
table.schema

[{'name': 'month', 'type': 'number'},
 {'name': 'disease', 'type': 'number'},
 {'name': 'wounds', 'type': 'number'},
 {'name': 'other', 'type': 'number'},
 {'name': 'total', 'type': 'number'}]

In [13]:
import json
with open('nightingale.sdml', 'w') as f:
    json.dump(table.to_dictionary(), f, indent = 2)